.client{

    &-title {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

&-li {
    border: 1px solid var(--icon-basic-color);
    border-radius: 5px;
    width: 100%;
    transition: var(--transition-ms);
    height: 92px;
    

    &:focus,
    &:hover {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

    &:hover .svg-client {
    fill: var(--accent-color);
}
    &:focus .client-li {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    
    
}
@media screen and (max-width: 767px) {
    width: 210px;
}

@media screen and (min-width: 768px) {
    width: 226px;
}

@media screen and (min-width: 1200px) {
    width: 170px;
}

}

&-ul{
    @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
        }
}

.svg-client {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-basic-color);
    padding: 16px 32px;
}


&-li-svg {
    transition: var(--transition-ms);

    &:focus,
    &:hover {
    fill: var(--accent-color);
}


}





}

