.footer {
    background-color: var(--hero-footer-color);
    padding: 60px 0px;
    min-width: 1200px;

    
.foot-con {
    display: flex;
    align-items: baseline;
}

&-addres {
    text-decoration: none;
    list-style-type: none;
    margin-right: 70px;
}

&-addres-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--basic-title-color);
    font-style: normal;
    transition: var(--transition-ms);

    &:hover,
    &:focus {
    color: var(--accent-color);
}

}


&-nav-contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
    transition: var(--transition-ms);

    &:focus,
    &:hover {
    color: var(--accent-color);
}
}


&-logo {
    color: var(--basic-title-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: var(--transition-ms);

    &:focus,
    &:hover {
    color: var(--accent-color);
}
}



&-adres {
    margin-top: 20px;
}

.foot-con-li {
    margin-bottom: 9px;
}

.foot-title-svg {
    color: var(--basic-title-color);
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

}

.svg{
    &-list-foot {
    display: flex;
    gap: 10px;
}

&-li-foot {
    width: 44px;
    height: 44px;
    background-color: #43444D;
    border-radius: 50%;
    display: flex;
    transition: var(--transition-ms);
     
    &:hover,
    &:focus {
    background-color: var(--accent-color);
}

}

&:focus {
    border-color: var(--accent-color);
}

&-icon-foot {
    fill: var(--basic-title-color);
}
}


.spam {
    justify-content: center;
    align-items: center;
    margin-left: 93px;

    &-form{
    color: #fff;
}

&-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-title-color);
    font-family: 'Roboto';
    align-items: baseline;
    margin-bottom: 20px;
}

&-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--basic-title-color);
    background-color: transparent;
    padding-left: 16px;

    &::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
}

}


&-btn {
    width: 200px;
    height: 50px;
    color: var(--basic-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

&-btn-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 2.25;
    display: flex;
    padding-right: auto;
    padding-left: auto;
    letter-spacing: 0.06em;
    color: #fff;
}

&-icon-send {
    fill: var(--basic-title-color);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

&-form {
    display: flex;
}
}

