
.header {
    color: var(--title-text-color);
&-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



&-contact{
    

    @media screen and (min-width: 480px) {
        margin-left: auto;
    }
    
        @media screen and (min-width: 768px) {
            margin-left: auto;
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: auto;
        }
}

&-a{
    display: flex;
    @media screen and (max-width: 767px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
        @media screen and (min-width: 768px) {}
    
        @media screen and (min-width: 1200px) {}
}

&navigation{
    margin-right: auto;
    display: block;
}


&-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--title-text-color);
    transition: var(--transition-ms);
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    
    &:focus,
    &:hover {
    color: var(--accent-color);

    @media screen and (max-width:767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width:768px) {
       margin-right: 93px;
    }
}

}

&-logo-web {
    color: var(--accent-color);
}

&-nav {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 50px;

}

&-nav-item {
    display: block;
    position: relative;
    

    &:hover .header-line {
    background-color: var(--accent-color);
    display: block;
}
}

&-line-ac {
    align-items: flex-end;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
}



&-nav-li {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    color: var(--title-N3-text-color);
    display: block;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: var(--transition-ms);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}


&-nav-li-ac {
    color: var(--accent-color);

}

&-navigation{

    margin-left: 88px;
}

&-nav-contact {
    color: var(--title-N2-text-color);
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    margin-left: auto;
    align-items: center;
    display: flex;
    transition: var(--transition-ms);
    &:focus,
    &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);

    @media screen and (min-width: 480px) {

    }
    
        @media screen and (max-width: 1199px) {
            padding-top:0px;
            padding-bottom: 0px;
        }
    
        @media screen and (min-width: 1200px) {
         
        }
    }
}

.menu{
    display: flex;
    list-style: none;

    @media screen and (max-width:767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

.contact-head {
    align-items: baseline;
    gap: 10px;
    color: var(--title-N2-text-color);
    fill: var(--title-N2-text-color);
}

&-nav-a {
    margin-left: auto;
    
    
@media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    
        @media screen and (min-width: 768px) {
          display: block;
          
        }
    
        @media screen and (min-width: 1200px) {
          display: flex;
          padding-top: 32px;
          padding-bottom: 32px;
        }
    }


}
.head-cvg {
    display: flex;
    align-items: baseline;
    fill: var(--title-N2-text-color);
}

.svg-header {
    margin-right: 10px;
}

/*-------------------------modal--------------------------------------*/

.modal-header{

    &{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: var(--basic-title-color);
        padding: 48px 40px;
        list-style: none;
        z-index: 1;
        > .container{
            display: flex;
            height: 100%;
            justify-content: space-between;
            flex-direction: column;
            overflow: auto;
        }
    }

    &-button{ 
        background-color: transparent;
        border: none;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 0;
        @media screen and (max-width: 767px){
          
        }

    @media screen and (min-width: 768px) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
    
        }
    }

    &-buttob-svg{
        fill:#000;
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: none;
        z-index: 1;

        &:focus,
        &:hover{
            fill: var(--accent-color);
        }
    }



    &-nav-li{
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        list-style: none;
        text-decoration: none;
        color: var(--title-text-color);
        transition: var(--transition-ms);

        &:focus,
        &:hover{
            color: var(--accent-color);
        }
    }

    &-nav-li:last-of-type {
        margin-bottom:0;
    }

    &-nav-li-ac{
        color: var(--accent-color);
    }

    &-contact{
        margin-top: auto;
        display: block;
        margin-bottom: 64px;
    }

    .contact-modal-header:first-of-type{
        margin-bottom: 32px;
        }

    &-nav-contact{
        

        &-tel{
            font-weight: 500;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: var(--accent-color);
            transition: var(--transition-ms);
            text-decoration: none;
            margin-bottom: 32px;
            &:focus,
            &:hover {
                color: var(--title-N2-text-color);
            }
        }

        &-mail{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: var(--title-N2-text-color) ;
            transition: var(--transition-ms);
            text-decoration: none;
            &:focus,
            &:hover {
                    color: var(--accent-color);
                }
        }
       

        
    }



   &-cmi{
    &{
        justify-content: center;
        align-items: center;
    }

    &-ul{
        display: flex;
    }

    &-li{
        
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 10px;
        padding-right: 10px;

        &-a{
        list-style: none;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2222;
        letter-spacing: 0.02em;
        color: var(--accent-color);

        &:focus,
        &:hover{
            color: var(--title-text-color);
        }
    }
    }

    &-li:last-of-type{
    border-right: none;
    }

    
   }
}