.hero {
    &{
    color: var(--basic-title-color);
    background-color: var(--hero-footer-color);
    margin: 0 auto;
    height: 100%;
    background-image: url(../img/desktop-hero-1x.jpg);
    background-position: center;

    @media screen and (max-width: 767px){
    padding: 118px 0px;
    max-width: 480px;
        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mob-hero-1x.jpg) ;
    }

        @media screen and (min-width: 768px) {
        padding: 118px 0px;
        max-width: 768px;
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet-hero-1x.jpg);
    }

             
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
             background-image:

    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop-hero-1x.jpg) ;
               padding: 200px 0px;
        } 
    }
    

&-h1 {
    font-weight: 900;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.6153;
    }

        @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.3636;
    }

        @media screen and (min-width: 1200px) {
       font-size: 44px;
       line-height: 1.3636;
    }
    
}

.button {
    color: var(--basic-title-color);
    background-color: var(--accent-color);
    display: inline-block;
    border: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 5px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
}
