.list {
    text-decoration: none;
    list-style-type: none;

    &-li {
    width: 100%;
    @media screen and (min-width: 480px){
            margin-bottom: 30px;
        }
    
            @media screen and (min-width: 768px) {
            
            width: 350px;
        }

                @media screen and (min-width: 1200px) {
                    width: 270px;
                }
}


&-con-div {
    display: flex;
    gap: 30px; 
    @media screen and (min-width: 480px) {
            display: block;
        }
    
         @media screen and (min-width: 768px) {
            display: inline;
        } 
        
                @media screen and (min-width: 768px) {
                    display: flex;
                }
}



&-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
            text-align: center;
        }
    
            @media screen and (min-width: 768px) {
            
        }

                  @media screen and (min-width: 1200px) {
                    text-align: start;
                  }

}

&-none {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

&-title-p {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--title-N2-text-color);
}


&-con-svg {
    background-color: var(--backroun-color);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 25px 100px;
    border-radius: 5px;
}
}

