.button-portfolio {

    color: var(--title-N3-text-color);
    background-color: var(--backroun-color);
    display: inline-block;
    border: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 6px 22px;
    transition: var(--transition-ms);

&:hover,
&:focus {
    box-shadow: 1px 1px 2px 2px var(--title-N2-text-color);
    color: var(--basic-title-color);
    background-color: var(--accent-color);
}
}


.portfolio {
    background-color: var(--basic-title-color);
}