.team {
    background-color: var(--backroun-color);

    @media screen and (min-width: 480px) {
            
        }
    
                @media screen and (min-width: 768px) {
        }

                @media screen and (min-width: 1200px) {
                }

    
&-con-ul {
    
    gap: 30px;
    margin-top: 50px;

    @media screen and (min-width: 480px) {
         display: block;
         justify-content: center;
    }
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
        }
}




&-list-li {
    
    background-color: var(--basic-title-color);
    border-radius: 5px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

&-list-li:last-of-type {

    @media screen and (min-width: 480px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

&-con-text {
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}



&-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;

}

&-list {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
}





&-list-p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-N2-text-color);

}

.work-text {
    text-align: center;
    color: var(--title-N2-text-color);
    margin-bottom: 16px;
}


&-img {
    display: block;
}

&-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(---title-N3-text-color);
}
}



.svg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

&-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}


&-li {
    width: 44px;
    height: 44px;
    background-color: var(--basic-title-color);
    border-radius: 50%;
    display: flex;
    transition: var(--transition-ms);

&:focus,
&:hover {
    background-color: var(--accent-color);
}

&:hover .svg-icon {
    fill: var(--basic-title-color);
}

&:focus .svg-icon {
    fill: var(--basic-title-color);
}
}

&-icon {
    fill: var(--icon-basic-color);
    transition: var(--transition-ms);
}

}
